body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;

  user-select: none;
}

:root {
  --c12: #000000;
  --c11: #111111;
  --w: #ffffff;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.header--bg {
  background-color: var(--c12);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.header__menu a {
  position: relative;
  color: var(--w);
  font-size: 1.125rem;
  padding: 16px 8px;
}

.header__menu a::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 4px;
  margin-left: 10%;
  width: 60%;
  height: 2px;
  background-color: var(--w);
  transition: 0.3s;
  scale: 0 1;
  transform-origin: left;
  opacity: 0;
}

.header__menu a:hover::after {
  scale: 1;
  opacity: 1;
}

@media (max-width: 600px) {
  .header__container {
    flex-direction: column;
    gap: 32px;
  }

  .header__menu {
    gap: 12px;
  }

  .header__menu a {
    padding: 8px 12px;
    font-size: 1rem;
  }

  .header__menu a::after {
    display: none;
  }
}
